# ===== 데이터 =====
data/
raw_data/
*.csv
00_raw_data.pkl
01_processed_data.pkl
02_feature_data.pkl
feature_data.pkl

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Python =====
__pycache__/
*.pyc
.venv/
venv/
.env

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
